<header class="c-header c-header-light c-header-fixed">

  <button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
    <span class="c-header-toggler-icon"></span>
  </button>

  <ul class="c-header-nav ml-auto mr-4">
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
      <a class="btn btn-outline-secondary" type="button" href="https://github.com/GreenBankObservatory/GBOmonitoring" target="_blank">
        <img class="c-icon" src="/static/assets/icons/github.svg"></img>
        Source Code
      </a>
    </div>
  </ul>

</header>