<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">

  <!-- LOGO -->
  <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/static/assets/brand/GBO-Logo-White.svg" width="118" height="46" alt="GBO Logo (horizontal)"><img class="c-sidebar-brand-minimized" src="/static/assets/brand/GBO-vertical.svg" width="118" height="46" alt="GBO Logo (vertical)"></div>

  <!-- SIDEBAR CONTENT -->
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-divider"></li>

    <!-- HOME -->
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
      <img class="c-sidebar-nav-icon" src="/static/assets/icons/home.svg"></img>
      Home
      <span class="badge badge-info">NEW</span></a>
    </li>

    <li class="c-sidebar-nav-divider"></li>

    <!-- DASHBOARDS -->
    <li class="c-sidebar-nav-title">Dashboards</li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/dashboards/ZtiltPos" target="_top">
          <img class="c-sidebar-nav-icon" src="/static/assets/icons/speedometer.svg"></img>
          Ztilt
        </a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/dashboards/OSS" target="_top">
          <img class="c-sidebar-nav-icon" src="/static/assets/icons/speedometer.svg"></img>
          OSS
        </a>
      </li>

    <li class="c-sidebar-nav-divider"></li>

    <!-- REPORT ISSUES -->
    <li class="c-sidebar-nav-title">Report Issues</li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="/alerts/BugReport" target="_top">
          <img class="c-sidebar-nav-icon" src="/static/assets/icons/speedometer.svg"></img>
          Report a Bug
        </a>
      </li>

    <li class="c-sidebar-nav-divider"></li>

    <!-- DOCUMENTATION -->
    <li class="c-sidebar-nav-title">Documentation</li>
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="http://docs.greenbankobservatory.org/" target="_blank">
        <img class="c-sidebar-nav-icon" src="/static/assets/icons/link.svg"></img>
        Read the Docs
      </a>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <img class="c-sidebar-nav-icon" src="/static/assets/icons/link.svg"></img>
        Wiki Pages
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="https://safe.nrao.edu/wiki/bin/view/GB/Software/WOAH" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            WOAH Homepage
          </a>
        </li>
      </ul>
    </li>

    <li class="c-sidebar-nav-divider"></li>

    <!-- OTHER MONITORING -->
    <li class="c-sidebar-nav-title">Other Monitoring</li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <img class="c-sidebar-nav-icon" src="/static/assets/icons/bell.svg"></img>
        Monitoring Links
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="http://docs.greenbankobservatory.org/software/operations/process_management.html" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            Circus
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="https://gbtarchive-beta.gb.nrao.edu/atoll/meta/messages/" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            CLEO Messages
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="https://gbtarchive-beta.gb.nrao.edu/gbtstatus/" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            GBT Status
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="http://grafana.gb.nrao.edu" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            Grafana
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="http://ci.greenbankobservatory.org/" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            Jenkins
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="https://gbtarchive-beta.gb.nrao.edu/atoll/dss/opslog/" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            Ops Log
          </a>
        </li>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="https://green-bank-observatory.sentry.io" target="_blank">
            <img class="c-sidebar-nav-icon" src="/static/assets/icons/external-link.svg"></img>
            Sentry
          </a>
        </li>
      </ul>
    </li>

  </ul>

  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>

</div>