{% extends "layouts/base-site.html" %}

{% block title %} {{ptitle| safe}} {% endblock %} 

{% block content %}

<div class="container-fluid">
  <div class="fade-in">
    
    <!-- ALERTS -->
    <div class="alert alert-danger" role="alert">This is an example of what an alert would look like. Please see <a class="alert-link" href="#">this link</a> for more information.</div>
  
    <!-- TABLE -->
    

  </div>
</div>
    

{% endblock content %}

{% block javascripts %}



{% endblock javascripts %}
